:root{
    --black-green: #272829;
    --green:#61677A;
    --green-white: #D8D9DA;
    --white-green: #FFF6E0;
}
.button{
    background-color: brown;
}
.reference a {
    padding: 3px;
    width: 100%; /* Ancho del 100% para ocupar todo el ancho del contenedor */
    height: 50px; /* Altura de 50px para cada enlace */
    background-color: var(--green-white); /* Color de fondo */
    color: var(--black-green); /* Color de texto */
    text-align: center; /* Alineación del texto al centro */
    line-height: 50px; /* Centrar verticalmente el texto */
    text-decoration: none;
    border: #272829;
}
.reference span1{
    padding: 3px;
    border-radius: 3%;
    width: 100%; /* Ancho del 100% para ocupar todo el ancho del contenedor */
    height: 50px; /* Altura de 50px para cada enlace */
    background-color: var(--black-green); /* Color de fondo */
    color: var(--green-white); /* Color de texto */
    text-align: center; /* Alineación del texto al centro */
    line-height: 50px; /* Centrar verticalmente el texto */
    text-decoration: none;
    border: #272829;
}
.planet-all{
    padding: 3px;
    width: 100%; /* Ancho del 100% para ocupar todo el ancho del contenedor */
    height: 500px; /* Altura de 50px para cada enlace */
    background-color: var(--green-white); /* Color de fondo */
    color: var(--black-green); /* Color de texto */
    text-align: center; /* Alineación del texto al centro */
    line-height: 50px; /* Centrar verticalmente el texto */
    text-decoration: none;
    border: #272829;
}
.planet-all-2{
    padding: 3px;
    width: 100%; /* Ancho del 100% para ocupar todo el ancho del contenedor */
    height: 260px; /* Altura de 50px para cada enlace */
    background-color: var(--green-white); /* Color de fondo */
    color: var(--black-green); /* Color de texto */
    text-align: center; /* Alineación del texto al centro */
    line-height: 50px; /* Centrar verticalmente el texto */
    text-decoration: none;
    border: #272829 ;
    
}
.container {
    width: 80%;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    padding: 20px;
  }

  /* Estilo para los cuadros de introducir datos */
  .input-box {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
  }
  #diagrama{

    height: 310px;

    margin-top: 2%;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
  }