/* Estilos generales de la página */
:root{
    --black-green: #272829;
    --green:#2C3333;
    --green-white: #D8D9DA;
    --white-green: #FFF6E0;
    --dia:#666666;
}
body {
    background-image: url('../image/fondo3.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: var(--white-green)   ;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center; /* 100% del alto de la ventana */
}

/* Contenedor principal que divide la página en dos partes */


/* Div verde en el lado izquierdo */
.logo-title{
    
    width: 95%;
    height:60px;
    margin: 10px;
    padding: 10px;
    
    text-align: center;
}
.logo-img{
    float: left;
    flex: 1;
    width: 60px;
    height:60px;
    background-color: white;
}
h1{
    font-size: 70px;
    margin-top: 10px;
}
#titulo-2{
    color: white   ;
}

.exoplanet{
    border-radius: 2%;
    display: flex;
    margin-top: 5%;
    margin-left: 1%;
    margin: 10px;
    padding: 10px;
    width: 80%;
    margin-left: 10%;
    height: auto;
    
    overflow: hidden;
}
.reference { 
    border-radius: 3%;
    width: 25%;
     /* Ancho fijo de 150px para el contenedor */
    height: 100%; /* Altura del 100% para ocupar la altura completa del padre */
    /* Color de fondo */
    display: flex; /* Utilizar flexbox para alinear elementos verticalmente */
    flex-direction: column; /* Colocar elementos en una columna vertical */
    
}

/* Article en el lado derecho */

.divContenedor {
    /*flex: 2;*/
    border-radius: 2%;
    background-color: black;
    width: 75%;
    height: auto;/*ojo--------------------------*/
    margin-left: 5%;
    text-align: center;
}
.image{
    background-color: var(--pestaña);
    height: 310px;

    margin-top: 2%;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
}

.planet{
    margin-top: -60px;
    width: 500px;
    height: 400px;
}
.divContenedor div:nth-child(2){
    background-color: var(--pestaña);
    margin-top: 2%;
    margin-left: 10%;
    margin-right: 10%;
    height: auto;
    overflow: hidden;
    text-align: left;
}
.divContenedor div:nth-child(3){
    background-color: var(--pestaña);
    margin-top: 2%;
    margin-left: 10%;
    margin-right: 10%;
    height: auto;
    text-align: left;
}
h3{
    display: inline-block;
    margin-left: 1%;
    margin-top: 0;
    margin-bottom: 0;
    color: white;
    color: var(--fondo);
}
p{
    margin-top: 0;
    margin-bottom: 0;
    display: inline-block;
}
h2{
    width: 90%;
    height:40px;
    margin: 10px;
    padding: 10px;
    background-color: var(--fondo);
    color: white;
    text-align: center;

}

.option-v{
    border-radius: 2%;
    width: 40%;
    height: auto; /* Ocupa todo el alto de la página */
    background-color: var(--black-green);
}
.result{
    border-radius: 2%;
    background-color: var(--black-green);
    width: 80%;
    height: 100%;
    margin-left: 1%;
    text-align: center;
}
.result div:nth-child(1){
    background-color: var(--black-green);
    margin-top: 2%;
    margin-left: 5%;
    margin-right: 5%;
    height: auto;
    overflow: hidden;
    text-align: left;
}
.result div:nth-child(2){
    background-color: var(--black-green);
    margin-top: 2%;
    margin-left: 5%;
    margin-right: 5%;
    height: auto;
    overflow: hidden;
    text-align: left;
}
.result div:nth-child(3){
    background-color: var(--black-green);
    margin-top: 2%;
    margin-left: 5%;
    margin-right: 5%;
    height: auto;
    overflow: hidden;
    text-align: left;
}
#diagrama-1{
    background-color: white;
}